// Variables
@import "variables";

// Normalize
@import "normalize";
@import "normalize-pear";

// Global
@import "global";

// Components
@import "animations";
@import "buttons";
@import "container";
@import "embeds";
@import "forms";
@import "grid";
@import "links";
@import "lists";
@import "order";
@import "pattern";
@import "type";

// Abstractions
@import "borders";
@import "colors";
@import "margins";
@import "padding";

// Utilities
@import "utilities";

//Customs;

//Gallery
.pswp-gallery {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    width: 100%;

    figure:first-child {
        grid-row: span 2;
        grid-column: span 2;
    }

    figure:nth-child(5) {
        grid-row: span 2;
        grid-column: span 2;
    }

    figure:nth-child(7) {
        grid-row: span 2;
        grid-column: span 2;
    }



    figure {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        a {
            display: block;
            height: 100%;
            overflow: hidden;
            padding-bottom: 100%;
            position: relative;
            width: 100%;

            img {
                height: 100%;
                left: 0;
                object-fit: cover;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }

}

h1 {
  text-decoration: none !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.blog {
    p {
        padding-bottom: 2em;
    }
}
