!!!
%html{:lang => "en-us"}
  %head
    / Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{name: "robots", content: "noindex"}/
    %title Verse Kiwis
    %meta{:content => "", :name => "description"}/
    / The compiled CSS file
    %link{:href => "/stylesheets/all.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/vendor/photoswipe.css", :rel => "stylesheet"}/
    / Web fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Karla:400,700", :rel => "stylesheet"}/
    / favicon.ico. Place these in the root directory.
    / %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    / Scroll reveal
    %script{:src => "https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"}
    / The compiled JavaScript file
    -# %script{:src => "javascripts/vendor/photoswipe.esm.min.js"}
    -# %script{:src => "javascripts/vendor/photoswipe-lightbox.esm.min.js"}
    -# %script{:src => "javascripts/main.js"}
    %script{type: 'module'}
      :plain
        import PhotoSwipeLightbox from '/javascripts/vendor/photoswipe-lightbox.esm.min.js';
        import PhotoSwipe from '/javascripts/vendor/photoswipe.esm.min.js';

        const lightbox = new PhotoSwipeLightbox({
          gallery: '#gallery',
          children: 'a',
          pswpModule: PhotoSwipe
        });

        lightbox.init();

  %body.has-animations
    / Header
    %header.pt2.pb1.align--center
      .container
        %a{href: "/"}
          %div{style: 'display: flex; justify-content: space-between; align-items: center;'}
            %h1 Verse Kiwis
            %img.logo{:alt => "Verse Kiwis", :src => "/images/kiwi.jpg"}/
    / Body
    %main
      .container
        = yield

    / Footer
    %footer.pt2.pb2
      .container.align--center
        %p
          %a.link{:href => "https://www.codecanoe.com"} Made by CodeCanoe
        %ul.no-bullets.list--inline.mt1
          %li
            %a.link{:href => "https://www.instagram.com/verdonckt_s"}
              %img.icon{:alt => "Instagram", :src => "/images/instagram.svg"}/
        %p

